/* ----------------------------- */
/* ----------Borders ---------*/
/* ----------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ----------------------------- */
/* ----------Texts ---------*/
/* ----------------------------- */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #222;
  line-height: 1.6;
}

/* -----Header/hero Text -----*/
.top-part h1{
  font-size: 120px;
  color: #ffffff;
}

h1 {
  font-size: 42px;
  color: #222;
}
h2 {
  font-size: 22px;
  font-weight: 400;
  color: #555;
  margin-bottom: 30px;
}

p {
  max-width: 650px;
  margin: 0 auto 16px;
  font-size: 18px;
  line-height: 1.7;
}

/* ----------------------------- */
/* ----- Background Colors ------*/
/* ----------------------------- */
.top-part {
  background-color: #2f4156;
  height: 280px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-part {
  background-color: #2f4156;
  min-height: 220px;
  min-height: 50vh;/*gör så att botten bakgrundsfärgen täcker minst 50% av skärmens yta*/
}

/* ----------------------------- */
/* ----------Main content ---------*/
/* ----------------------------- */
.main-content {
  margin-left: 220px;
  min-height: 100vh;
  text-align: center;
}
/* ----------------------------- */
/* ----------Copyright Text ---------*/
/* ----------------------------- */
.copyright {
  color: rgba(255, 255, 255, 0.425);
  font-size: 14px;
  text-align: center;
  padding-top: 80px;
}

/* ----------------------------- */
/* ----------Smaller Screens ---------*/
/* ----------------------------- */
@media (max-width: 1024px) {
  .bottom-part {
    min-height: 60vh;/*gör så att botten bakgrundsfärgen täcker minst 60% av skärmens yta*/
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
  }
  
  .top-part h1{
  font-size: 80px;
  color: #ffffff;
}
}